.avatar-in-tweet{
    width: 100px;
    height: 95px;
}

.avatar-show{
    border-radius: 5px 30px 5px;
    width: 50px;
    height: 50px;
}

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

.background-image{
    background-image: url('https://media.istockphoto.com/vectors/trace-brown-doodle-paw-prints-seamless-pattern-background-vector-id1169439839?k=6&m=1169439839&s=612x612&w=0&h=SMujWR1UVYx3zKD7pk3JDgqOaCQyCslTcZc6PkT9MM4=');
    position: relative;
}

.bg-div-content{
    background-color: #FFEBC9;
    position: relative;
}
.bg-nav-color{
    background-color: #DA723C;
}

.content-style{
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    flex: 1 0 auto;
}

.content{
    text-align: justify;
}

.clock-style{
    font-size: 0.8em;
}

.font-alert{
    font-size: 1.5em;
}

.footer-style{
    background-color:#DA723C;
     flex-shrink: 0;
     position: relative;
 }

 .links-color{
    font-weight: bold;
}

.nav-style, .clock-style, .user-says, .form-style{
    font-family: 'Indie Flower', 'sans serif';
}
.nav-style{
    font-size: 2em;
 }


.single-tweet{
    border-radius: 25px;
}

.text-info{
    font-size: 0.8em ;
}

.user-says{
    font-weight: 700;
}











