.avatar-in-tweet{
    width: 120px;
    height: 105px;
}

.avatar-likes-show{
    border-radius: 5px 30px 5px;
    width: 50px;
    height: 50px;
}

.avatar-nav{
    width: 30px;
}

.avatar-show{
    width: 120px;
    height: 105px;
}

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

.background-image{
    background-image: url('https://media.istockphoto.com/vectors/trace-brown-doodle-paw-prints-seamless-pattern-background-vector-id1169439839?k=6&m=1169439839&s=612x612&w=0&h=SMujWR1UVYx3zKD7pk3JDgqOaCQyCslTcZc6PkT9MM4=');
    position: relative;
}

.bg-div-content{
    background-color: #FFEBC9;
    position: relative;
}
.bg-nav-color{
    background-color: #DA723C;
}

.btn-form{
    font-family: 'Architects Daughter', cursive;
   font-size: 1.3em !important;
}

.content-style{
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    flex: 1 0 auto;
}

.content{
    text-align: justify;
}

.clock-style{
    font-size: 0.8em;
}

.dropdown-menu{
    background-color:#DA723C !important;
}

.edit-label, .p-show{
    font-family: 'Alegreya', serif;
    font-size: 0.8em;
}

.edit-user{
    margin: auto;
    width: 60%;
}

.font-alert{
    font-size: 1.5em;
    width: 50%;
    margin: auto;
}

.footer-style{
    background-color:#DA723C;
     flex-shrink: 0;
     position: relative;
 }

 .modal-header{
    background-color:#DA723C;
 }


.img-inicio{
    width: 10rem;
}

 .links-color{
    font-weight: bold;
}

.modal-body{
    background-color: #FFEBC9;
}


.modal-btn{
    margin-left: 25rem;

}

.nav-style, .clock-style, .user-says, .form-style, .tweets-list, .retweet{
    font-family: 'Indie Flower', 'sans serif';
}
.nav-style{
    font-size: 1.5em;
 }

 .new-tweet-title,  .user-says, .form-style, .tweets-list, .retweet, .tweet-show{
     color: #268a7e;
     font-family: 'Architects Daughter', cursive;
 }

.retweet{
    font-size: 0.7em;
   

}

 .search-bar{
     width: 50%;
     display: inline;
 }

.single-tweet, .modal-btn{
    border-radius: 25px;
    
}

table{
 margin-bottom: 20px !important;
}

.text-info{
    font-size: 0.8em ;
}

.tweet-show {
    margin-top: 7rem;
}

.user-says{
    font-weight: 700;
}



